<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        <h2 align="center"> Login Here </h2>
        <div align="center"><form action="/auth" method="POST">
            {% if errors != "" %}
            <h3> {{ errors }} </h3>
            {% endif %}
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input type="submit" name="loginPage">
            </form></div>
    </body>
</html>
